/* You can add global styles to this file, and also import other style files */
:root {
    --white: #ffffff;
    --black: #333333;
    --gray: #bfbfbf;
    --blue: #137ad1;
    --dark-blue: #042843;
    --light-blue: #053e63;
  }
  
  body{font-family: 'Open Sans Condensed', sans-serif;background: var(--white); color: var(--black); padding: 20px; font-size: 18px; letter-spacing: 0.3px;}
  ul{margin: 0px; padding: 0px;}
  
  ::placeholder {color: #969aa2;opacity: 1;}
  :-ms-input-placeholder {color: #969aa2;opacity: 1;}
  ::-ms-input-placeholder {color: #969aa2;opacity: 1;}
  
  /*Checkboxes styles*/
  input[type="checkbox"] { display: none; }
  input[type="checkbox"] + label {display: block;position: relative;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
  input[type="checkbox"] + label:last-child { margin-bottom: 0px; }
  input[type="checkbox"] + label:before {content: '';display: block;width: 24px;height: 24px;border: 2px solid var(--white);;position: absolute;left: 0;top: -12px;opacity: .6;border-radius: 8px;background-color: var(--pale-grey);-webkit-transition: all .12s, border-color .08s;transition: all .12s, border-color .08s;}
  input[type="checkbox"]:checked + label:before {width: 10px;top: -16px;left: 5px;border-radius: 0;opacity: 1;border-top-color: transparent;border-left-color: transparent;-webkit-transform: rotate(45deg);transform: rotate(45deg);background: transparent;}
  
  .table td, .table th{vertical-align: middle;}
  
  h1 {font-size: 40px;font-weight: 400;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: var(--black); padding-bottom: 15px;}
  .pl-30{padding-left: 30px;}
  .blank-space-12{height: 12px;}
  .clearboth{clear: both; display: block;float: left;}
  
 
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{padding-right: 41px; padding-left: 41px;}
  input[type="text"],input[type="email"],input[type="password"]{-moz-appearance: none; -webkit-appearance: none; -o-appearance: none; appearance: none; height: 52px; border-radius: 8px; border: solid 2px #d3d3d3; background-color: var(--white); width: 100%; box-shadow: 0px 0px 10px #d3d3d3; outline: none; padding: 0px 15px; font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: var(--dark-1); line-height: 52px;}
  button{height: 52px; line-height: 52px; border-radius: 8px;box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);background-image: linear-gradient(to top, #4c599f, #6c80bf);-moz-appearance: none; -webkit-appearance: none; -o-appearance: none; appearance: none; outline: none; width: 100%; color: #fff; text-transform: uppercase; font-size: 15px;font-weight: 800;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: var(--pale-grey);border: 0px;}
  button:focus {outline: 1px dotted;outline: 0px auto -webkit-focus-ring-color;}
  input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus{border: solid 2px var(--black);}
  input[type="text"].error,input[type="email"].error,input[type="password"].error{border: solid 2px var(--black); color: var(--black);}
  .heading{font-weight: 700; color: var(--blue);}
  .img-block{position: relative; background-color: red; overflow: hidden; background-image: linear-gradient(var(--light-blue), var(--dark-blue)); height: 130px; width: 100%;}
  /* .box {height: 200px;width: 300px;overflow: hidden;border: 1px solid red;background: #ff0;} */
  .hid-box {cursor:pointer;top: 98px;position: relative;transition: all .3s ease-out;background: rgba(0, 0, 0, 0.47);height: 100%;color: #fff;padding: 1px 6px;font-size: 14px;}
  .img-block:hover > .hid-box{top: 0;}
  .row .row {margin-right: -5px;margin-left: -5px;}
  .row .row .col-sm-2, .row .row .col-sm-6 {padding-right: 5px;padding-left: 5px;}
  .block-heading {font-weight: 600;padding-bottom: 7px;padding-top: 5px;font-size: 12px;}
  .light-gray-bg{background-color: var(--gray);background-image: linear-gradient(var(--gray), var(--gray));}
  .img-icon {display: block;}
  .img-icon img {display: block;max-width: 100%;width: 60px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -60%);}
  .repeat-row {padding-bottom: 40px;margin-bottom: 40px;border-bottom: 1px solid var(--blue);}
  
  @media screen and (max-width: 1200px) {
  
  }
  @media screen and (max-width: 1025px) {
      h1{font-size: 30px;}
      input[type="text"], input[type="email"], input[type="password"]{font-size: 13px;}
      .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {padding-right: 20px;padding-left: 20px;}
  }
  
  @media screen and (max-width: 812px) {
      
  }
  
  @media screen and (max-width: 560px) {
      
  }
  @media screen and (max-width: 350px) {
      
  }