<div class="container">
    <h1>Advanced Analytics Platform Governance</h1>
    <p><strong>Advanced Analytics Platform (AAP)</strong> is positioned as the central go-to technology platform for developing and operationally deploying big data pipelines and advanced analytics models internally at ZF. </p>
    <p><strong>Data Lake (DL)</strong> is a central Big Data repository for analytical and sharing purposes at ZF. It allows to store all types of data on scale and provide them to ZF analytics platforms in a high-performing way.</p>
    <p>Considered as ZF's strategic platform to meet current and future advanced analytics needs. System is built using Microsoft technologies and the cloud platform using Microsoft Azure technologies is currently in operation. </p>
    <div class="row">
        <div class="col-sm-9">
            <div class="row repeat-row">
                <div class="col-sm-2">
                    <div class="heading">Strategy & Architecture </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box"  (click)="navigateToSubPage()">
                            <div class="block-heading">Strategy</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Architecture</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Integration</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Security Concepts</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row repeat-row">
                <div class="col-sm-2">
                    <div class="heading">Tools & Technology </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Azure Databricks</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Azure Datalake</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Knime</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row repeat-row">
                <div class="col-sm-2">
                    <div class="heading">People </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Business Stakeholders</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Operations Teams</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row repeat-row">
                <div class="col-sm-2">
                    <div class="heading">Governance </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Metadata Management </div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Data Governance </div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Platform Monitoring</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Platform Security</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Load Monitoring</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row repeat-row">
                <div class="col-sm-2">
                    <div class="heading">Operations </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Support Request </div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Data Issues </div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Platform Issues</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row repeat-row">
                <div class="col-sm-2">
                    <div class="heading">Standards & Guidelines </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Naming Convention</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Databricks Standards </div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block light-gray-bg">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Datalake Standards </div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Repository</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="img-block">
                        <div class="img-icon"><img src="assets/icons/binary-tree-icon.png"></div>
                        <div class="hid-box">
                            <div class="block-heading">Knowledge Base</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="img-block">
                        <div class="hid-box">
                            <div class="block-heading">Strategy</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img-block">
                        <div class="hid-box">
                            <div class="block-heading">Architecture</div>
                            <p>This is a quick demo of slide-up effect using CSS animation when hover the box.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>